/*----- ITEM COUNT -----*/ /* React Bootstrap sobreescribe esto, no sé porque... everywhere  */

.btn__menosmas {
    background-color: var(--clrMain);
    color: var(--clrNavBar);
    border: 1px solid var(--clrNavBar);
 }
 
 .btn__menosmas:hover,
 .btn__menosmas:focus {
     background-color: var(--clrMain);
     border: 1px solid var(--clrNavBar);
 }
 
 .btn__add {
     background-color: var(--clrAccent);
     color: var(--clrNavBar);
     border: none;
     margin-block-start: 1rem;
 }
 
 .btn__add:hover,
 .btn__add:focus {
     border: none;
     background-color: var(--clrAccentAlt);
     color: var(--clrNavBar);
 }

 .btn__reset {
    background-color: #FFF;
    border: none;
    color: var(--clrSecondary);
    font-size: small;
    margin-block-start: 1rem;
 }

 .btn__reset:hover,
 .btn__reset:focus {
    background-color: #FFF;
    border: none;
    color: var(--clrSecondary);
    font-size: small;
    margin-block-start: 1rem;
    text-decoration: underline;
 }
 
 /* -----OCULTAR FLECHAS DEL INPUT----- */
 
 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
     /* display: none; <- Crashes Chrome on hover */
     -webkit-appearance: none;
     margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
 }
 
 input[type=number] {
     -moz-appearance:textfield; /* Firefox */
 }
 