

/*-----NAVBAR-----*/
.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--clrNavBar);
    z-index: 9999;
    padding-block: 1rem;
}

.header button {
    display: none;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    cursor: pointer;
    margin-inline: 2rem;
}
.header__logo {
    width: clamp(20px, 50px, 60px); 
}
.header__nombre {
    font-weight: 600;
    margin-inline: 0.8rem;
    font-size:1.725em;
    color: var(--clrSecondary);
    padding-block: 0;
}
.header__navegacion {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1.3rem;
    margin-inline-end: 2rem;
}
.header__navegacion > a {
    list-style: none;
    text-decoration: none;
}

.header__links {
    text-decoration: none;
    color: var(--clrSecondary);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap:0.3rem;
}
.header__links:focus,
.header__links:hover {
    color: var(--clrAccent);
}

.header__linksLast {
    width: 15ch;
}



@media only screen and (max-width: 912px) {
    .header button {
        display: inline-block;
        margin-inline-end: 20px;
        color: var(--clrSecondary);
        border: none;
        background-color: var(--clrNavBar);
    }

    .header__navegacion {
        display: none;
        position: absolute;
        top: 70px;
        left: 0;
        flex-direction: column;
        width: 100vw;
        height: calc(100vh-70px);
        background-color: var(--clrNavBar);
        z-index: 15;
        padding-block: 0.725rem;
    }
    .header__navegacion.expanded {
        z-index: 12;
        display: block;
        transition: ease-in 600ms;
        animation: slideIn 500ms;
        animation-fill-mode: both;
        transform-origin: top center;
    }
    .reduced {
    animation: slideOut 300ms;
    animation-fill-mode: both;
}

    .header__links {
        width: 100%;
        text-align: center;
        justify-content: center;
        margin-block: 0.1rem;
    }
    .header__linksLast {
        width: inherit;
        margin-inline: 0;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .header__navegacion.expanded > a {
        width: 100%;
        text-align: center;
    }

}


@keyframes slideIn {
    0% {
      transform: scaleY(0);
    }
  
    100% {
      transform: scaleY(1);
    }
  
  }
