.checkoutTitle {
    margin-block: 1rem;
    margin-inline: 3vw;
}

.checkoutContainer {
    margin-inline: 3vw;
    display: flex;
    min-height: 60vh;
}

.checkoutTable {
    max-width: 50vw;
}

.form {
    max-width: 40vw;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.btnComplete {
    background-color: var(--clrAccent);
    color: var(--clrBackground);
    margin-block: 1rem;
    border: none;  
}

.btnComplete:hover,
.btnComlete:focus {
    background-color: hsla(38, 95%, 75%, 0.174);
    color: var(--clrBackground);
}