/*----- ITEM COUNT -----*/ /* React Bootstrap sobreescribe esto, no sé porque... !important everywhere  */

.btn-menosmas {
   background-color: var(--clrMain) !important;
   color: var(--clrNavBar) !important;
   border: 1px solid var(--clrNavBar) !important;
}

.btn-menosmas:hover,
.btn-menosmas:focus {
    background-color: var(--clrMain) !important;
    border: 1px solid var(--clrNavBar) !important;
}

.btn-add {
    background-color: var(--clrAccent) !important;
    color: var(--clrBackground) !important;
    border: none !important;
}

.btn-add:hover,
.btn-add:focus {
    border: none !important;
    background-color: #fcce80e3 !important;
}

/* -----OCULTAR FLECHAS DEL INPUT----- */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}


/*------------ ITEM LIST CONTAINER ---------- */

.itemListCardSection {
    display: flex; 
    flex-wrap: wrap;
    gap: 5rem;
    padding-block: 3rem;
    justify-content: center;
    align-items: center;
    background-color: #dee0de;
}

/*----- ITEM ----- */

.itemCard {
    border: 1px solid black;
    color:#FFF;
    border-radius: 0.7rem;
}

.itemCardImg {
    max-width: 18rem; 
    height: 15rem; 
    object-fit: contain;
}

.itemCardBody {
    background-color: var(--clrNavBar);
}