/*-----VARIABLES, FONTS Y RESET----- */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600&display=swap');


:root {
    --clrAccent: #fcce80;
    --clrMain: #90d4e4;
    --clrSecondary: #f48581;
    --clrNavBar: #495057;
    --clrBackground: #34344A;
    --clrBody: #FFF;

}
*,
*::before,
*::after {
    box-sizing: 0;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
/*-----TIPOGRAFIA-----*/
body {
    font-family: "Red Hat Display", sans-serif;
    overflow-x: hidden;
}

html {
  background-color: var(--clrBody);
}

/* ----- SCROLLBAR ----- */

body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background-color: var(--clrNavBar);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--clrAccent);
}
